<div class="d-flex flex-row justify-content-center align-items-center">
  <h2>Here is the answer for this question: '<%= @answer %>'</h2>
  <h4 class="link-warning"><%= link_to "Ask a new question", ask_path %></h4>
</div>
