<div class="d-flex flex-row justify-content-center align-items-center">
  <h1 class="text-danger" class="text align-self-center p-2">Stupid Coaching</h1>
</div>
<div class="d-flex flex-row justify-content-center align-items-center">
  <form action="answer" data-turbo="false">
    <input type="text" name="question" placeholder="what do you have to say?" class="form-control form-control-lg">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
